/*body, html, #root {
	height: 100%;
}*/

.link {
	-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	transition: border-bottom-color 0.2s ease, color 0.2s ease;
	text-decoration: none;
	color: #f2849e;
}

.link:hover {
	text-decoration: none;
	border-bottom-color: transparent;
	color: #EC4B71 !important;
}